/* styles for themes > content blocks*/
.ctb_group, .ctb_element.published, .ctb_element.unpublished {color: #000; margin: 0; background: none;}
.ctb_group {padding: 5px; font-weight: 500;}
.ctb_element.unpublished {opacity: .33;}

