/* Extra css for content elements*/
.ctb_group, .ctb_element.published, .ctb_element.unpublished {color: #000; margin: 0; background: none;}
.ctb_group {padding: 5px; font-weight: 500;}
.ctb_element.unpublished {opacity: .33;}
.tl_explanation {margin: 15px 0;}
.tl_multigroup {background: rgba(200,200,200,.15); margin: 0 -1% 10px; padding: 10px 1% 10px; border-radius: 6px;}
.tl_multigroup > h3 {padding-top:2px}
.tl_multigroup_header {margin: 18px 0 8px; float: right; text-align: right;}
.tl_multigroup_right {padding: 1px 0 8px; float: right; text-align: right;}
.tl_multigroup_box {padding-top: 18px;}
